<% include partials/header %>

<div class="header">
    <h1>all breweries</h1>
</div>

<div class="row resultList">
    <% var count = 0 %>
    <% data["data"].forEach(function(brewery) { %>
        <% count += 1 %>  
        <div class="listRow">
            <div><a target="_blank" href="<%= brewery["brewery"]["website"] %>"><%= brewery["brewery"]["name"] %></a></div>
        </div>
    <% }) %>
</div>

<div class="returnButton">
    <form>
        <button type="submit" class="startOver" formaction="/">Start Over</button>
    </form>
</div>

<% include partials/footer %>