<% include partials/header %>

<div class="header">
    <h1>no breweries found!</h1>
    <p>Maybe you should consider moving elsewhere.</p>
</div>


<div class="returnButton">
    <form>
        <button type="submit" class="btn btn-default" formaction="/">Start Over</button>
    </form>
</div>

<% include partials/footer %>