<% include partials/header %>

<div class="header">
    <h1>random brewery</h1>
</div>

<div class="resultList">
    <% var count = 0 %>
    <% data["data"].forEach(function(brewery) { %>
        <% count += 1 %>  
    <% }) %>
    
    <% var rndm = Math.floor(Math.random()*count) %>
    <div><a target="_blank" href="<%= data["data"][rndm]["brewery"]["website"] %>"><%= data["data"][rndm]["brewery"]["name"] %></a></div>
    
</div>

<div class="returnButton">
    <form>
        <button type="submit" class="startOver" formaction="/">start over</button>
    </form>
</div>

<% include partials/footer %>