<% include partials/header %>

<div class="header">
    <h1>Random Brewery</h1>
</div>

<div class="resultList">
    <% var count = 0 %>
    <% if (data["data"] = 'undefinded') { " No breweries around "} else { %>
        <% data["data"].forEach(function(brewery) { %>
            <% count += 1 %>  
        <% }) %>
    <% } %>
    <% if(count > 0) { %>
        <% var rndm = Math.floor(Math.random()*count) %>
        <%= data["data"][rndm]["brewery"]["name"] %>
        <div><a target="_blank" href="<%= data["data"][rndm]["brewery"]["website"] %>">Website</a></div>
    <% } else { %> 
        <div class="error"><p>No breweries around! I would suggest moving.</p></div>   
    <% } %>
</div>

<div class="returnButton">
    <a href="/">Start Over</a>
</div>

<% include partials/footer %>