<% include partials/header %>

    <container>
        <h1>brewery finder</h1>
    <div class="header">
        <p>Do you need help finding a local brewery?</p>
        <p>Search for your city and state below, press the <strong>Random</strong> button, and have a random
            one selected! Or select the <strong>Show All</strong> and show available breweries in the area.</p>
    </div>
   
    <form  method="GET">
        <div class="form-group">
            <input id="cityInput" type="text" name="city" placeholder="City">
            <input id="stateInput" type="text" name="state" placeholder="State">
        </div>
        <div class="buttonDiv">
            <button type="submit" class="startOver" formaction="/results">random</button>
            <button type="submit" class="startOver" formaction="/allresults"> show all</button>
        </div>
    </form> 
    </container>

<% include partials/footer %>    
    